.n-sc-button[class*="gradient"] {
	background-color:transparent!important;
	opacity:1;
	box-shadow:none
}

.n-sc-button[class*="gradient"]:after,
.n-sc-button[class*="gradient"][class*="see-through"]:after{
	position:absolute;
	content:' ';
	top:-2%;
	left:-1%;
	width:101.5%;
	height:104%;
	transform-origin:right;
	-webkit-transform-origin:right;
	-ms-transform-origin:right;
	transform:scale(0,1);
	-webkit-transform:scale(0,1);
	-ms-transform:scale(0,1);
	-ms-transition:transform 0.38s cubic-bezier(.2,0.95,.4,0.95),background-size 0.38s ease;
	transition:transform 0.38s cubic-bezier(.2,0.95,.4,0.95),background-size 0.38s ease;
	-webkit-transition:transform 0.38s cubic-bezier(.2,0.95,.4,0.95),background-size 0.38s ease;
	z-index:-1
}
